version: 2.1

commands:
  build:
    parameters:
      path:
        type: string
        default: "circleci-env-core"
      base_image:
        type: string
        default: "circleci/php:latest-node"
      tag:
        type: string
        default: "glpi/circleci-env-core:php_latest_fpm-node"
    steps:
      - run:
          name: "Build docker image"
          command: |
            docker build --pull --tag << parameters.tag >> --build-arg BASE_IMAGE=<< parameters.base_image >> << parameters.path >>
      - run:
          name: "Push docker image"
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
              docker login -u $DOCKER_USER -p $DOCKER_PASS
              docker push << parameters.tag >>
            fi

jobs:
  build_all_circleci-env-core:
    docker:
      - image: docker:18-git
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:5.6-fpm-node"
          tag: "glpi/circleci-env-core:php_5.6_fpm-node"
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:7.0-fpm-node"
          tag: "glpi/circleci-env-core:php_7.0_fpm-node"
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:7.1-fpm-node"
          tag: "glpi/circleci-env-core:php_7.1_fpm-node"
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:7.2-fpm-node"
          tag: "glpi/circleci-env-core:php_7.2_fpm-node"
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:7.3-fpm-node"
          tag: "glpi/circleci-env-core:php_7.3_fpm-node"
      - build:
          path: "circleci-env-core"
          base_image: "circleci/php:latest-node"
          tag: "glpi/circleci-env-core:php_latest_fpm-node"

workflows:
  # Build images every time a PR is created or a branch is updated.
  pr_build:
    jobs:
      - build_all_circleci-env-core

  # Weekly build to be sure to have latest PHP bugfixes in images
  # even if no changes were made on master branch.
  weekly_build:
    triggers:
      - schedule:
          cron: "0 0 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - build_all_circleci-env-core
