
[mysqld]
# Tweak optimizer
optimizer_switch='mrr=on'
optimizer_switch='mrr_cost_based=off'

# Mount datadir onto memory
datadir=/dev/shm/mysql


[mysqld-5.6]
# Fix support of large prefix in InnoDB indexes
innodb_file_format=Barracuda
innodb_large_prefix=ON


[mariadb]
# Tweak cache/buffers
join_cache_level=8
join_buffer_size=8M
mrr_buffer_size=8M


[mariadb-10.1]
# Fix support of large prefix in InnoDB indexes
innodb_large_prefix=ON


[mysqld-8.0]
# Fix "Authentication plugin 'caching_sha2_password' cannot be loaded" on MySQL 8.0
default-authentication-plugin  = mysql_native_password
