name: "Update DockerHub README"

on:
  push:
    branches:
      - "main"
    paths:
      - "README.md"

jobs:
    update-readme:
      runs-on: "ubuntu-latest"
      steps:
        - name: "Login to DockerHub"
          uses: "docker/login-action@v3"
          with:
            username: "${{ secrets.DOCKER_HUB_USERNAME }}"
            password: "${{ secrets.DOCKER_HUB_TOKEN }}"


        - name: "Update repository description"
          uses: peter-evans/dockerhub-description@v4
          with:
            username: ${{ secrets.DOCKER_HUB_USERNAME }}
            password: ${{ secrets.DOCKER_HUB_TOKEN }}
            repository: glpi-project/docker-images