name: "Github actions Open LDAP image"

on:
  push:
    paths:
      - ".github/workflows/githubactions-openldap.yml"
      - "githubactions-openldap/**"
  schedule:
    - cron:  '0 0 * * 1'

jobs:
  build:
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Build image"
        run: |
          docker build --pull --tag image --build-arg BASE_IMAGE=alpine githubactions-openldap
      - name: "Push image to Docker hub"
        if: github.ref == 'refs/heads/master' && github.repository == 'glpi-project/docker-images'
        run: |
          echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
          IMAGE_TAG=glpi/githubactions-openldap:latest
          docker tag image $IMAGE_TAG
          docker push $IMAGE_TAG
# We do not use Docker registry for now, do not push images there
#      - name: "Push image to Github registry"
#        if: github.ref == 'refs/heads/master' && github.repository == 'glpi-project/docker-images'
#        run: |
#          echo "${{ secrets.GITHUB_TOKEN }}" | docker login docker.pkg.github.com -u ${{ github.actor }} --password-stdin
#          IMAGE_TAG=docker.pkg.github.com/${{ github.repository }}/githubactions-openldap:latest
#          docker tag image $IMAGE_TAG
#          docker push $IMAGE_TAG
