name: "Github actions PHP images"

on:
  push:
    branches:
      - "master"
    paths:
      - ".github/workflows/githubactions-php.yml"
      - "githubactions-php/**"
  pull_request:
    paths:
      - ".github/workflows/githubactions-php.yml"
      - "githubactions-php/**"
  schedule:
    - cron:  '0 0 * * 1'

jobs:
  build:
    runs-on: "ubuntu-latest"
    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "5.6"
          - "7.0"
          - "7.1"
          - "7.2"
          - "7.3"
          - "7.4"
          - "8.0-rc"
    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
      - name: "Build image"
        run: |
          docker build --pull --tag image --build-arg BASE_IMAGE=php:${{ matrix.php-version }}-fpm-alpine githubactions-php
#      - name: "Push image to Docker hub"
#        if: github.ref == 'refs/heads/master' && github.repository == 'glpi-project/docker-images'
#        run: |
#          echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin
#          IMAGE_TAG=glpi/githubactions-php:${{ matrix.php-version }}
#          docker tag image $IMAGE_TAG
#          docker push $IMAGE_TAG
      - name: "Push image to Github container registry"
#        if: github.ref == 'refs/heads/master' && github.repository == 'glpi-project/docker-images'
        run: |
          echo "${{ secrets.GHCR_ACCESS_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          IMAGE_TAG=ghcr.io/glpi-project/githubactions-php:${{ matrix.php-version }}
          docker tag image $IMAGE_TAG
          docker push $IMAGE_TAG
