name: "GLPI images for official releases"

on:
  # Enable manual run
  #
  # It can be executed by a curl command:
  #
  # curl -X POST \
  # -H "Accept: application/vnd.github.v3+json" \
  # -H "Authorization: <access-token>" \
  # https://api.github.com/repos/glpi-project/docker-images/actions/workflows/<workflow-id>/dispatches \
  # -d '{"ref":"main", "inputs": { "glpi-version":"11.0.5", "push": true }}'
  workflow_dispatch:
    inputs:
      push:
        description: "Whether to push images to registries"
        required: false
        type: boolean
        default: false
      php-version:
        description: "PHP version to use for the build"
        required: false
        type: string
        default: "8.5"
      glpi-version:
        description: "GLPI version to build, i.e: 11.0.5"
        required: true
        type: string
      image-suffix:
        description: "Suffix to add to the image name, i.e: 'nightly'"
        required: false
        type: string
        default: ""

jobs:
  build:
    name: "Build GLPI ${{ inputs.glpi-version }}"
    uses: ./.github/workflows/_glpi-build.yml
    with:
      push: ${{ inputs.push }}
      php-version: ${{ inputs.php-version }}
      glpi-version: ${{ inputs.glpi-version }}
      image-suffix: ${{ inputs.image-suffix }}
      # Apply patch for GLPI 11.0.1-11.0.4 (PR #22381 will be included in 11.0.5+)
      post-extract-commands: |
        if [[ "${{ inputs.glpi-version }}" =~ ^11\.0\.[0-4]$ ]]; then
          curl https://patch-diff.githubusercontent.com/raw/glpi-project/glpi/pull/22381.diff --location --output composer-audit-config.diff
          patch --force --directory=glpi/sources < composer-audit-config.diff
        fi
    secrets: inherit
