name: "GLPI nightly images"

on:
  push:
    branches:
      - "main"
    paths:
      - ".github/workflows/glpi-nightly.yml"
      - ".github/workflows/_glpi-build.yml"
      - "glpi/**"
  pull_request:
    paths:
      - ".github/workflows/glpi-nightly.yml"
      - ".github/workflows/_glpi-build.yml"
      - "glpi/**"
  schedule:
    - cron: '0 0 * * *'
  # Enable manual run
  workflow_dispatch:

jobs:
  build-main:
    name: "Build main branch"
    if: ${{ github.repository == 'glpi-project/docker-images' }}
    uses: ./.github/workflows/_glpi-build.yml
    with:
      # Only push on main branch, schedule, or manual dispatch (not on PR), not a if, so we can test build on PR
      push: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.ref == 'refs/heads/main' }}
      glpi-version: "main"
      image-tag: "dev-nightly"
    secrets: inherit

  build-11:
    name: "Build 11.0/bugfixes branch"
    if: ${{ github.repository == 'glpi-project/docker-images' }}
    uses: ./.github/workflows/_glpi-build.yml
    with:
      push: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.ref == 'refs/heads/main' }}
      glpi-version: "11.0/bugfixes"
      image-tag: "11.0-nightly"
    secrets: inherit

  build-10:
    name: "Build 10.0/bugfixes branch"
    if: ${{ github.repository == 'glpi-project/docker-images' }}
    uses: ./.github/workflows/_glpi-build.yml
    with:
      push: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || github.ref == 'refs/heads/main' }}
      glpi-version: "10.0/bugfixes"
      image-tag: "10.0-nightly"
    secrets: inherit
